services:
  nginx:
    image: nginx:latest
    ports:
      - "8093:80"
      - "443:443"
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
      - ./docker/nginx/logs:/var/log/nginx
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./src:/app
    links:
      - php

  php:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    links:
      - db
    volumes:
      - ./src:/app
      - ./docker/php/logs:/var/log/php
      - ./docker/php/custom_conf.ini:/usr/local/etc/php/conf.d/custom_conf.ini
    working_dir: /app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - PHP_IDE_CONFIG=serverName=localhost

  db:
    image: postgres:13.3
    environment:
      POSTGRES_DB: "skeleton"
      POSTGRES_USER: "skeleton"
      POSTGRES_PASSWORD: "skeleton"
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    ports:
      - "6380:6380"
    command: --port 6380

  # Новый для access.log
  nginxlog-exporter:
    image: quay.io/martinhelmich/prometheus-nginxlog-exporter:latest
    ports:
      - "4040:4040"
    volumes:
      - ./docker/nginx/logs:/var/log/nginx:ro
      - ./docker/nginx_log/config.hcl:/etc/prometheus-nginxlog-exporter.hcl:ro
    command:
      - '-config-file=/etc/prometheus-nginxlog-exporter.hcl'
    restart: unless-stopped

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    command:
      - --housekeeping_interval=10s
      - --docker_only=true
      - --disable_metrics=disk,diskIO,tcp,udp,percpu
    ports:
      - 8080:8080
    volumes:
      - /:/rootfs:ro,rshared
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro,rshared
    depends_on:
      - redis

  # 3. Prometheus
  prometheus:
    image: prom/prometheus:latest
    user: "0"
    ports:
      - "9090:9090"
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    depends_on:
      - nginx
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./docker/data/dashboards:/etc/grafana/provisioning/dashboards
    depends_on:
      - prometheus

  mongodb:
    image: mongo:6.0.27
    ports:
      - "27017:27017"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.8.0
    environment:
      - discovery.type=single-node
    ports:
      - "9200:9200"

  graylog:
    image: graylog/graylog:6.2.11
    environment:
      GRAYLOG_PASSWORD_SECRET: somepasswordpepper # Используйте более сложный и случайный пароль
      GRAYLOG_ROOT_PASSWORD_SHA2: 8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918 # SHA2 хэш "admin"
      GRAYLOG_HTTP_EXTERNAL_URI: http://127.0.0.1:9009/ # Убедитесь, что это соответствует вашему домену или IP
      # Подключение к MongoDB (ВАЖНО!)
      GRAYLOG_MONGODB_URI: mongodb://host.docker.internal:27017/graylog

      # Подключение к Elasticsearch (ВАЖНО!)
      GRAYLOG_ELASTICSEARCH_HOSTS: http://host.docker.internal:9200
    depends_on:
      - mongodb
      - elasticsearch
    ports:
      - "9009:9009"
      - "9000:9000"
      - "12201:12201/udp"
      - "12201:12201/tcp"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  jaeger:
    image: jaegertracing/jaeger:latest
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"

volumes:
  prometheus-data:
  grafana-data:
