global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'cadvisor'
    static_configs:
      - targets: [ 'host.docker.internal:8080' ]
    scrape_interval: 10s
    metric_relabel_configs:
      # Извлекаем имя контейнера из id
      - source_labels: [ container_label_com_docker_compose_service ]
        target_label: service
        regex: (.+)
        replacement: $1
      - source_labels: [ container_label_com_docker_compose_project ]
        target_label: project
        regex: (.+)
        replacement: $1
      # Удаляем метрики без имени контейнера (системные)
      - source_labels: [ name ]
        regex: '^/(system\.slice|user\.slice|/docker)'
        action: drop
  # Docker Engine metrics через docker.sock
  - job_name: 'docker'
    static_configs:
      - targets: [ 'host.docker.internal:9323' ]
    metrics_path: /metrics

  - job_name: 'nginxlog-exporter'
    static_configs:
      - targets: ['nginxlog-exporter:4040']
    scrape_interval: 15s

  # Prometheus сам себя
  - job_name: 'prometheus'
    static_configs:
      - targets: [ 'localhost:9090' ]

  # PHP
  - job_name: 'php'
    static_configs:
      - targets: [ 'host.docker.internal:8093' ]